@import "src/styles/main_styles.scss";

.CardTextImage {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  border: solid green 2px;
  @include sm {
    display: flex;
  }
  &__imageContainer {
    width: 100%;
    margin-right: 20px;
    @include sm {
      width: 200px;
    }
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
  &__title {
    margin-top: 0;
  }
}
