@import "src/styles/main_styles.scss";

.FurtherEducation {
  &__iframe {
    width: 100%;
    border: none;
    margin: 20px 0;
  }
  &__cardsContainer {
    margin-top: 40px;
  }
}

.DesignThinking,
.Codecademy,
.IBMExperience,
.Capacitate {
  &__description {
    text-align: justify;
  }
}
.Codecademy {
  &__image {
    width: 100%;
    @include sm {
    }
  }
}
