@import "src/styles/main_styles.scss";

.FurtherEducation {
  &__iframe {
    width: 100%;
    border: none;
    height: 300px;
  }
}

.DesignThinking {
  &__description {
    text-align: justify;
  }

  &__descriptionImage {
  }
}
