@import "src/styles/main_styles.scss";

.FurtherEducation {
  &__iframe {
    width: 100%;
    border: none;
    margin: 20px 0;
  }
}

.DesignThinking {
  &__description {
    text-align: justify;
  }

  &__descriptionImage {
    max-width: 100px;
    @include sm {
    }
  }
}
