@import "src/styles/main_styles.scss";

.header-landing {
  display: flex;
  background-color: $white;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  right: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  &--hideHeaderMenu {
    display: none !important;
  }

  &--mobileActive {
    position: fixed;
    width: 100%;
  }

  &__wrapper {
    max-width: 1240px;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0px 25px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    margin-top: 100px;
    width: 100%;
    display: block;
    overflow-y: auto;

    @include md {
      overflow: hidden;
      margin-top: 0;
      height: 100%;
      position: static;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      color: $primary-color;
    }
  }

  &__lang {
    margin-left: 30px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: 10%;

    @include md {
      padding-bottom: 0;
      visibility: visible;
      opacity: 1;
      margin: 0;
    }
  }

  &--langToggle {
    visibility: visible;
    opacity: 1;
  }

  &--showMobileMenu {
    background-color: $white;
    height: 100%;
    @include md {
      height: 100%;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 60px;
      @include md {
        width: 60px;
      }
    }
  }
  &__logoLink {
    text-decoration: none;
    color: $primary-color;
  }
}

/*Main Navigation*/
.mainNavigation {
  padding: 0;

  @include sm {
    display: block;
    justify-content: flex-start;
  }

  @include md {
    display: flex;
    flex: 1;
    margin: 10px 10px;
    justify-content: flex-end;
  }

  &__item {
    list-style-type: none;
    padding: 10px 0;
    text-align: left;
    margin: 30px 0px;
    padding-left: 25px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    cursor: pointer;
    &:active {
      .mainNavigation__link {
        font-weight: bold;
      }
    }
    &:hover {
      .mainNavigation__link {
        color: $secondary-color;
        text-decoration: none;
      }
    }
    @include md {
      line-height: 24px;
      padding-left: 0;
      margin: 30px 15px;
      visibility: visible;
      opacity: 1;
    }
  }

  &--menuToggleItem {
    visibility: visible;
    opacity: 1;
  }

  &__link {
    text-decoration: none;
    color: $primary-color;
    @include md {
      padding: 40px 0;
    }
    @include lg {
      padding: 40px 10px;
      margin: 5px;
    }
    &:hover {
      text-decoration: none;
    }
  }

  &--activeItem {
    border-bottom: none;
    background-color: none;
    .mainNavigation__link {
      color: $secondary-color;
    }
    @include md {
      padding-left: 0px;
      background: none;
      border-left: none;
      font-weight: bold;
      letter-spacing: 0.39px;
      line-height: 22px;
    }
  }
}

.menuToggleContainer {
  cursor: pointer;
  text-align: center;

  &--hideHeaderMenuToggle {
    display: none;
  }
  &__menuToggleContainer {
    color: $primary-color;
  }

  &__menuToggle {
    width: 40px;
    height: 20px;
    position: relative;
    margin: 5px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    display: block;
    @include md {
      display: none;
    }
  }

  &__text {
    color: $primary-color;
    display: none;
    font-size: 12px;
    font-weight: normal;
    height: 29px;
    letter-spacing: 2.9px;
    line-height: 29px;
    margin-top: 10px;
    display: block;
    width: 63px;
    @include md {
      display: none;
    }
  }

  &__line {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $primary-color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  &__line:nth-child(1) {
    top: 0;
  }

  &__line:nth-child(2) {
    top: 12px;
  }

  &__line:nth-child(3) {
    top: 12px;
  }

  &__line:nth-child(4) {
    top: 25px;
  }

  &--menuToggleAction {
    .menuToggleContainer__line:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%;
    }

    .menuToggleContainer__line:nth-child(2) {
      transform: rotate(45deg);
    }

    .menuToggleContainer__line:nth-child(3) {
      transform: rotate(-45deg);
    }

    .menuToggleContainer__line:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }
  }
}
