$heading1-size: 34px;
$heading3-size: 20px;
$regular-size: 16px;
$small-size: 14px;
$smaller-size: 12px;

$title-fontsize: 20px;
$subtitle-fontsize: 16px;
$body-fontsize: 14px;
$caption-fontsize: 12px;
$tiny-fontsize: 11px;
$button-fontsize: 16px;
$button-small-fontsize: 14px;

$primary-font: "Poppins";

$heading-font: "Poppins";

$typography-variables: (
  "title": (
    "font-family": $primary-font,
    "font-size": $title-fontsize,
    "font-weight": bold,
    "letter-spacing": 0.22px,
    "line-height": 28px,
  ),
  "title-mobile": (
    "font-family": $primary-font,
    "font-size": $title-fontsize,
    "font-weight": bold,
    "letter-spacing": 0.22px,
    "line-height": 28px,
  ),
  "subtitle": (
    "font-family": $primary-font,
    "font-size": $subtitle-fontsize,
    "font-weight": bold,
    "letter-spacing": 0px,
    "line-height": 22px,
  ),
  "body-regular": (
    "font-family": $primary-font,
    "font-size": $body-fontsize,
    "letter-spacing": 0px,
    "line-height": 20px,
  ),
  "body-bold": (
    "font-family": $primary-font,
    "font-size": $body-fontsize,
    "letter-spacing": 0px,
    "font-weight": bold,
    "line-height": 20px,
  ),
  "caption-regular": (
    "font-family": $primary-font,
    "font-size": $caption-fontsize,
    "letter-spacing": 0px,
    "line-height": 16px,
  ),
  "caption-bold": (
    "font-family": $primary-font,
    "font-size": $caption-fontsize,
    "font-weight": bold,
    "letter-spacing": 0px,
    "line-height": 16px,
  ),
  "tiny-regular": (
    "font-family": $primary-font,
    "font-size": $tiny-fontsize,
    "letter-spacing": 0px,
    "line-height": 14px,
  ),
  "tiny-bold": (
    "font-family": $primary-font,
    "font-size": $tiny-fontsize,
    "font-weight": bold,
    "letter-spacing": 0px,
    "line-height": 14px,
  ),
  "button-regular": (
    "font-family": $primary-font,
    "font-size": $button-fontsize,
    "font-weight": bold,
    "letter-spacing": 0.3px,
    "line-height": 22px,
  ),
  "button-small": (
    "font-family": $primary-font,
    "font-size": $button-small-fontsize,
    "font-weight": bold,
    "letter-spacing": 0px,
    "line-height": 22px,
  ),
);
