@import "src/styles/main_styles.scss";

.About {
  width: 100%;
  height: 100vh;

  &__body {
    padding-top: 120px;
    margin-bottom: 20px;
  }
}

.section {
  margin-bottom: 0px;
  @include sm {
    margin-bottom: 30px;
  }
}
