$heading1-size: 34px;
$heading3-size: 20px;
$regular-size: 16px;
$small-size: 14px;
$smaller-size: 12px;

$primary-font: "Roboto";
$heading-font: "Poppins";

$typography-variables: (
  "h4": (
    "font-size": 34px,
    "font-family": $heading-font,
    "font-weight": normal,
    "letter-spacing": 0.07px,
    "line-height": 39px,
  ),
  "h5": (
    "font-family": $primary-font,
    "font-size": 24px,
    "font-weight": normal,
    "letter-spacing": 0px,
    "line-height": 31.92px,
  ),
  "h6": (
    "font-size": 20px,
    "font-family": $primary-font,
    "font-weight": 500,
    "letter-spacing": 0.07px,
    "line-height": 32px,
  ),
  "subtitle1": (
    "font-family": $primary-font,
    "font-size": 16px,
    "font-weight": 500,
    "letter-spacing": 0.09px,
    "line-height": 28px,
  ),
  "subtitle2": (
    "font-family": $primary-font,
    "font-size": 14px,
    "font-weight": 500,
    "letter-spacing": 0.07px,
    "line-height": 21.98px,
  ),
  "body1": (
    "font-family": $primary-font,
    "font-size": 16px,
    "font-weight": normal,
    "letter-spacing": 0.09px,
    "line-height": 24px,
  ),
  "body2": (
    "font-family": $primary-font,
    "font-size": 16px,
    "font-weight": normal,
    "letter-spacing": 0.1px,
    "line-height": 20px,
  ),
  "caption": (
    "font-family": $primary-font,
    "font-size": 12px,
    "font-weight": normal,
    "letter-spacing": 0.4px,
    "line-height": 20px,
  ),
  "button": (
    "font-family": $primary-font,
    "font-size": 14px,
    "font-weight": 500,
    "letter-spacing": 0.3px,
    "line-height": 24px,
  ),
  "link": (
    "font-family": $primary-font,
    "font-size": 14px,
    "font-weight": normal,
    "letter-spacing": 0.1px,
    "line-height": 20px,
    "text-decoration": underline,
  ),
);
