@import "src/styles/main_styles.scss";

.Footer {
  text-align: center;
  &__contact {
    text-align: left;
  }
  &__iconsContainer {
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
  }
  &__link {
    height: 100%;
    max-width: 100px;
    &:hover {
      .InstagramIcon,
      .GithubIcon__path,
      .LinkedinIcon {
        opacity: 0.6;
      }
    }
  }
  &__contactLink {
    color: $black;
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
}
.InstagramIcon,
.GithubIcon,
.LinkedinIcon {
  max-width: 50px;
  height: 100%;
}

.GithubIcon__path {
  &:hover {
    fill: red;
  }
}
